{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Привет, я Елена!</h1>
<p>
  <br />Всегда интересовалась сферой ИТ. Получила два высших образования, защитила кандидатскую диссертацию, а теперь решила попробовать себя в роли backend-разработчика.
</p>
<p>
  Моё резюме доступно <a href="https://volgograd.hh.ru/resume/93be40e7ff08f44f940039ed1f3963436a464d">здесь</a>
  <br />Мои проекты можно посмотреть на <a href="https://github.com/ElenaVasilkova">GitHub</a>
  <br />Мой профиль <a href="https://vk.com/id373108781">ВКонтакте</a>
</p>
<p>
  В свободное время я люблю спать. 
  <br />Чёрно-белый пёс и серый попугай делают мой мир более радужным.
</p>
<p>
    <img src="{% static "img/photo.png" %}" width="640" height="640" alt="img">
</p>
{% endblock %}